
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.gitignore
/package-lock.json
/package.json
/playwright.config.ts
/.env
/cucumber-reports
/.vscode
/.github
/cucumber.js
/playwright.config.ts
/tsconfig.json

